build --crosstool_top=//toolchain:clang_suite
build --linkopt=-lc++
build --linkopt=-lm
build --linkopt=-rdynamic
build --cxxopt=-std=c++20
build --cxxopt=-stdlib=libc++
build --cpu=k8
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:opt --copt=-O3

build:coverage --experimental_use_llvm_covmap
build:coverage --experimental_generate_llvm_lcov

build:enable_logging --define=enable_logging=true
