---
# FIXME: readability-redundant-declaration is excluded due to a clang-tidy issue(https://github.com/llvm/llvm-project/issues/63939) of the c++20 module.
Checks: '-*,
bugprone-*,
clang-analyzer-*,
clang-diagnostic-*,
concurrency-*,
cppcoreguidelines-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-cppcoreguidelines-avoid-non-const-global-variables,
-readability-redundant-declaration'

WarningsAsErrors: '*'
HeaderFilterRegex: '^.*xyco(/include/xyco/|/src/|/tests/).*$'
FormatStyle: none

CheckOptions:
    cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreNonDeducedTemplateTypes: 'true'
