---
# FIXME: readability-redundant-declaration is excluded due to a clang-tidy issue(https://github.com/llvm/llvm-project/issues/63939) of the c++20 module.
# bugprone-unchecked-optional-access is excluded due to unexpected clang tidy crashes when building examples/http_server.cc.
Checks: '-*,
bugprone-*,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
hicpp-exception-baseclass,
hicpp-ignored-remove-result,
hicpp-multiway-paths-covered,
hicpp-new-delete-operators,
hicpp-no-assembler,
hicpp-static-assert,
modernize-*,
performance-*,
readability-*,
-clang-analyzer-optin.osx.*,
-clang-analyzer-osx.*,
-clang-analyzer-security.*,
-clang-analyzer-webkit.*,
-bugprone-assert-side-effect,
-bugprone-reserved-identifier,
-bugprone-multiple-statement-macro,
-bugprone-standalone-empty,
-bugprone-stringview-nullptr,
-bugprone-suspicious-string-compare,
-bugprone-unchecked-optional-access,
-clang-analyzer-core.CallAndMessage,
-clang-analyzer-optin.cplusplus.UninitializedObject,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-goto,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-macro-to-enum,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-noexcept-destructor,
-cppcoreguidelines-noexcept-move-operations,
-cppcoreguidelines-noexcept-swap,
-cppcoreguidelines-use-default-member-init,
-modernize-deprecated-headers,
-modernize-deprecated-ios-base-aliases,
-modernize-macro-to-enum,
-modernize-redundant-void-arg,
-modernize-replace-auto-ptr,
-modernize-type-traits,
-modernize-use-trailing-return-type,
-modernize-use-using,
-readability-redundant-declaration,
-readability-uppercase-literal-suffix,
-readability-identifier-naming'

WarningsAsErrors: '*'
HeaderFilterRegex: '^.*xyco(/include/xyco/|/src/|/tests/).*$'
FormatStyle: none

CheckOptions:
    cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreNonDeducedTemplateTypes: 'true'
